<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="userService"
		class="cqut.yook.service.impl.UserServiceImpl" />
	<bean id="exceptionLog" class="cqut.yook.log.ExceptionLog" />
	<bean id="log" class="cqut.yook.log.Log" />
	<aop:config>
		<aop:pointcut
			expression="execution(* cqut.yook.service.impl.UserServiceImpl.add())"
			id="pointcut" />
		<aop:advisor advice-ref="exceptionLog"
			pointcut-ref="pointcut" />
	</aop:config>

	<aop:aspectj-autoproxy />
</beans>